.carousel {
    width: 100%;
    overflow: hidden;
    margin: 60px 0 60px;  
}

.carousel-track {
    display: flex;
    gap: 32px;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.carousel img {
    flex-shrink: 0;
    max-width: 44px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
