.contact {
    background-image: linear-gradient(to bottom, #FEE3D8, #FFC8DA);
}

.contact-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box {
    width: 70%;
    min-height: 560px;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.14),
        0 8px 18px rgba(0, 0, 0, 0.10);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Josefin Sans", sans-serif;
}

.contact-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 35px;
}

.contact-title {
    font-size: 40px;
    color: var(--background-title);
}

.contact-found {
    font-size: 32px;
    max-width: 330px;
    width: 100%;
}

.contact-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.03em;
    width: 4px;
    height: 100%;
    background-color: var(--background-title);
    border-radius: 2px;
}

.contact-social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social {
    width: 100%;
    max-width: 225px;
    min-height: 50px;
    border-radius: 30px;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.10),
        0 4px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.social p {
    font-size: 25px;
    text-decoration: none;
}

.social a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 20px;
    padding-right: 4.9rem;
}
