footer {
    background-color: var(--background-footer);
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    font-family: "Josefin Sans", serif;
    color: var(--icons-color);
    font-size: 20px;
    font-weight: bold;
}