* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1366px;
}

:root {
    --primary: #ff8a47;
    --secondary: #ffd6d8;

    --background-card: #FEE3D8;
    --background-body: #ffd1a2;
}

body {
    font: 400 16 px "Inter", sans-serif;
    background-color: var(--background-body);
}

.app {
    display: flex;
    flex-direction: column;
    

    width: 100%;
    
    height: 100vh;

    /*margin: 0 auto 0;*/
    
}

section {
    width: 100%;
    min-height: 70vh;
}

.user {
    background-color: var(--primary);
}

.about {
    background-color: var(--secondary);
}

.projects {
    background-color: var(--primary);
}