@import url('./user.css');
@import url('./header.css');

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1346px;
}

:root {
    --primary: #EA762B;
    --secondary: #FEE3D8;
    --gradient: #FFD5E3;

    --background-card: #FFEDE5;
    --background-title: #FF96B1;
    --background-footer: #FFC8DA;

    --box-color: #FDD24D;
    --icons-color: #CF3465;
}

body {
    font: 400 16 px "Inter", sans-serif;
    background-color: var(--background-body);
}

.app {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    padding-top: var(--header-height);
}