header {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-color: var(--primary);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    gap: 35px;
    list-style: none;
}

.menu-item-link {
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}

.menu-burger {
    display: none;
}

.menu-burger img {
    width: 100%;
    max-width: 40px;
    height: auto;
    color: white;
    cursor: pointer;
}