@media(max-width: 920px) {
    .hs-elements {
        grid-template-columns: repeat(2, 1fr);
    }

    .hs-content {
        margin-bottom: 5rem;
    }
}

@media(max-width: 800px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    section {
        scroll-margin-top: 80px;
    }

    .menu {
        position: fixed;
        top: 70px;
        right: 0;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        transform: translateX(100%);
        transition: transform 0.18s ease-in-out;
        will-change: transform;
    }

    .menu.menu-open {
        transform: translateX(0);
    }

    .menu-burger {
        display: block;
    }

    .user .user-container {
        flex-direction: column;
        gap: 35px;
        justify-content: center;
    }

    .icon, .about-picture img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }

    .about-box {
        flex-direction: column;
        padding: 30px 0 30px 0;
    }

    .about-title, .hs-title, .ss-title, .projects-title {
        font-size: 38px;
    }

    .about-text {
        font-size: 17px;
        margin-right: 15px;
    }

    .about-content::before {
        margin-left: 15px;
    }

    .hs-container {
        padding-top: 15px;
    }

    .hs-content {
        gap: 5.5rem;
    }

    .hs-elements {
        grid-template-columns: 1fr;
    }

    .hs-box {
        max-width: 230px;
        width: 100%;
        min-height: auto;
    }

    .hs-box-content img {
        max-width: 38px;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .hs-box-content p {
        font-size: 16px;
    }

    .carousel {
        margin: 7rem 0 7rem;
    }

    .carousel img {
        max-width: 38px;
    }

    .ss-content {
        gap: 5.5rem;
    }

    .ss-elements {
        grid-template-columns: 1fr;
        margin-bottom: 3.5rem;
    }

    .projects-grid {
        padding-top: 5.5rem;
        gap: 4rem;
    }

    .projects-box {
        width: 100%;
        max-width: 320px;
        min-height: 300px;
        flex-direction: column;
        gap: 10px;
    }

    .project-img img {
        max-width: 130px;
    }

    .project-img {
        max-width: 130px;
        height: 130px;
    }

    .project {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .project-title {
        font-size: 19px;
    }

    .project-disc {
        font-size: 14px;
    }

    .github-button, .figma-button {
        max-width: 100%;
        width: 100px;
    }

    .github-button img, .figma-button img {
        width: 18px;
    }

    .project-img {
        margin-right: 0;
    }

    .contact-box {
        flex-direction: column;
        width: 90%;
        min-height: 560px;
    }

    .contact-text {
        padding-left: 20px;
        gap: 12px;
    }

    .contact-title {
        font-size: 30px;
    }

    .contact-found {
        font-size: 20px;
    }

    .social p {
        font-size: 20px;
    }

    .social a img {
        width: 100%;
        max-width: 38px;
        height: auto;
    }

    .footer-container p {
        font-size: 12px;
    }
}