.projects {
    background-color: var(--secondary);
}

.projects-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 90px;
}

.projects-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.projects-title {
    font-size: 56px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    color: var(--primary);
    position: relative;
}

.projects-title p {
    position: relative;
    text-align: center;
}

.projects-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 320px;
    height: 2px;
    opacity: 50%;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    background-color: var(--primary);
}

.projects-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem;
    padding-top: 7.18rem;
    justify-items: center;
}

.projects-box {
    width: 100%;
    max-width: 450px;
    min-height: 350px;
    background-color: var(--primary);
    border-radius: 16px;

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.14),
        0 8px 18px rgba(0, 0, 0, 0.10);
}