.projects {
    background-color: var(--secondary);
}

.projects-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 90px;
}

.projects-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.projects-title {
    font-size: 56px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    color: var(--primary);
    position: relative;
}

.projects-title p {
    position: relative;
    text-align: center;
}

.projects-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 320px;
    height: 2px;
    opacity: 50%;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    background-color: var(--primary);
}

.projects-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6.25rem;
    padding-top: 7.18rem;
    align-items: center;
}

.projects-box {
    width: 100%;
    max-width: 700px;
    min-height: 250px;
    background-color: var(--primary);
    border-radius: 16px;

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.14),
        0 8px 18px rgba(0, 0, 0, 0.10);

    display: flex;
    align-items: center;
    padding: 32px;
}

.project-img {
    width: 100%;
    max-width: 165px;
    height: 165px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 20px;
}

.project-img-bibli {
    background-color: #1E1F22;
}

.project-img img {
    width: 100%;
    max-width: 165px;
    height: auto;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-title {
    font-size: 26px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}

.project-disc {
    color: white;
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    text-align: justify;
}

.project-buttons {
    display: flex;
    gap: 10px;
}

.github-button {
    width: 100%;
    max-width: 115px;
    min-height: 35px;

    background-color: black;
    color: white;
    font-size: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.github-button img {
    width: 100%;
    max-width: 23px;
    height: auto;
}

.figma-button {
    width: 100%;
    max-width: 115px;
    min-height: 35px;

    background-color: rgb(75, 11, 136);
    color: white;
    font-size: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.figma-button img {
    width: 100%;
    max-width: 23px;
    height: auto;
}