.soft-skills {
    background-image: linear-gradient(to top, #FEE3D8, #FFD5E3);
}

.ss-container {
    min-width: 100%;
    height: 100vh;
    
}

.ss-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ss-elements {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.ss-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    background-color: var(--background-card);
    width: 270px;
    height: 340px;
    border-radius: 16px;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.10),
        0 4px 10px rgba(0, 0, 0, 0.06);
}

.ss-title {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
}

.ss-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 320px;
    height: 2px;
    opacity: 50%;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    background-color: var(--primary);
}

.ss-title p {
    font-size: 56px;
    color: var(--primary);
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    position: relative;
}

.ss-box-icon {
    background-color: #FFD5BA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 53px;
    height: 53px;
}

.ss-box-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);

    padding-top: 20px;
}

.ss-box-text {
    padding: 10px 30px;
}

.ss-box-text p {
    font-family: "Josefin Sans", sans-serif;
    color: #414141;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
}