.user {
    background-color: var(--primary);
    padding-top: 80px;
    position: relative;
}

.user .user-container {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 0;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.user-content img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.user-hello {
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    color: white;
    padding-left: 8px;
}

.user-yellow-box {
    width: 100%;
    max-width: 500px;
    min-height: 92px;
    background-color:var(--box-color);
    padding: 30px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box-content {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 32px;
}

.icon {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}


.user::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: var(--box-color);
    z-index: 10;
}